p {

color: red;
font-size: 22pt;

}

p#gruby_markowski {

color: green;
font-size: 17pt;
font-weight: bolder;

}

#dlawszystkich_markowski {

color: yellow;
font-size: 10pt;
font-family: Arial;

}