p#pogrubienie_markowski {
	
font-size: 34px;	
font-weight: bolder;
color: #9c5fcf;
	
}

p#pochylona_markowski {
	
font-size: 39;
color: #ffc36b;
font-style: italic;
	
}

p#index_gorny_markowski {
	
font-size: 1.4cm;
color: #b0911b;
vertical-align: super;

	
}

p#index_dolny_markowski {
	
color: #4cf5e3;
font-size: 2.3cm;
vertical-align: sub;
	
}

p#mono_markowski {
	
color: #30e16b;
font-size: 44px;
	
}

p#powiekszenie_markowski {
	
color: #6a419d;
font-size: larger;
	
}

p#pomniejszenie_markowski {
	
color: hsl(41,62.1%,54.5%);
font-size: x-small;
	
}
