p:first-letter {
	
 font-size:117pt;

}

p#id1:first-letter {
	
color: red;
font-size:117pt;
}

p#id2:first-letter {
	
color: orange;
font-size:117pt;
}

p#id1{
	
color: yellow;
font-size:21pt;
}

p#id2 {
	
color: yellow;
font-size:22pt;
}

h1#id3 {
	
color: purple;
font-size:60pt;
}

h1#id3:first-letter {
	
color: silver;
font-size:150pt;
}

h1#id4 {
	
color: yellow;
font-size:30pt;
}

h1#id4:first-line {
	
color: red;
font-size:30pt;
}

h1#id4:first-letter {
	
color: red;
font-size:90pt;
}